<html>
<head>
<script src="http://code.jquery.com/jquery-1.9.1.js" type="text/javascript"></script>
<script>
function assembly(){
var code = document.getElementsByName("assembly")[0].value;
$.ajax({
    type:"POST",
    url: '/assembly',
    data: {assembly: code,csrfmiddlewaretoken: document.getElementsByName("csrfmiddlewaretoken")[0].value},
    success: function (data){
	d = jQuery.parseJSON(data)
	document.getElementsByName("binary")[0].value = d.dump;
	document.getElementById("compileerrorbox").innerHTML = d.compilererr;
	document.getElementById("dumperrorbox").innerHTML = d.dumperr;
	document.getElementById("errorbox").innerHTML = d.error;
	}
  });
}
</script>
</head>
<body>
<h1>LiveAssembler</h1>

<p><strong><span id="errorbox"></span></strong></p>
<p><strong><span id="compileerrorbox"></span></strong></p>
<p><strong><span id="dumperrorbox"></span></strong></p>

<form action="./assembly" method="post">
{% csrf_token %}

<textarea rows=20 cols=60 name="assembly" id="assembly">ldr r4,[r3,#3] @Example</textarea>
<textarea rows=20 cols=60 name="binary" id="binary">   0:	e5934003 	ldr	r4, [r3, #3]</textarea>
</form>
<script type="text/javascript">
$('#assembly').change(function() {
assembly();
});
$('#assembly').keyup(function() {
assembly();
});
</script>
</body>
</html>
